@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LexendDeca";
  src: url("/fonts/LexendDeca-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: "LexendDeca", "Arial", sans-serif;
}

p {
  line-height: 1.15rem;
}

p a {
  color: rgb(244, 196, 253);
  text-decoration: underline;
}
