@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  width: 100%;
  text-align: center;
  margin: auto;
}

body {
  background: linear-gradient(to left, #0d0c69 0%, #000151 100%);
  background-size: 530px auto cover;
  background-attachment: fixed;
  margin: 0;
  color: #fff;
}

.info_container {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.info_container > * {
  border: 3px solid white;
  margin: 20px;
  width: 300px;
}

.info_title {
  background-color: #fff;
  color: red;
  padding-right: 3px;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

.info_description {
  padding-top: 10px;
  border-right: 3px solid white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -5px;
  text-align: start;
  text-transform: uppercase;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

.info canvas {
  height: 110px !important;
  width: 220px !important;
  margin: 0;
}
